<?xml version="1.0"?>
<launch>
 <!-- <param name="tstamp" command="date +%H%M%S%m%d%y" /> -->
 <arg name="file" default="data" doc="Provide a filename" />
 <arg name="path" default="$(find myride_data)/bag" doc="Provide a filename" />

 <arg name="topics" default="" doc="List of topics to record. Leave empty to record all" />

 <node pkg="rosbag" type="record" name="rosbag_record"
	 args="record -o $(arg path)/$(arg file).bag  $(arg topics)"/>   

</launch>
