<launch>
    <arg name="dev" default="0" />
    <arg name="disp" default="false" />
    <arg name="width" default="600" />
    <arg name="height" default="800" />
 <!-- TODO: expr to set aspect ratio according to width -->

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video$(arg dev)" />
    <param name="image_width" value="$(arg width)"/>
    <param name="image_height" value="$(arg height)" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node if="$(arg disp)" name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
</launch>
