<?xml version="1.0" encoding="utf-8"?>
<launch>
<!-- TODO: Repetetive files. Restructure -->
    <arg name="record"             default="false"/>
    <arg name="zed_name"           default="zed"/>
    <arg name="stream"             default="false"/>
    <arg name="zed_param"           default="vga"/>
    <arg name="svo_file"           default=""/>

    <arg name="topics_tf" value="/throttle_report /brake_report /steering_report /oscc/brake /oscc/speed /oscc/steering /oscc/throttle /can_frame /zed/image_raw /zed/right/image_rect_color /zed/depth/depth_registered /zed/disparity/disparity_image /zed/odom /zed/pose"/>
    <arg name="topics_full" value="/throttle_report /brake_report /steering_report /oscc/brake /oscc/speed /oscc/steering /oscc/throttle /can_frame /zed/image_raw /zed/right/image_rect_color /zed/depth/depth_registered"/>
    <arg name="topics_lite" value="/throttle_report /brake_report /steering_report /oscc/speed /zed/image_raw"/>
    <arg name="topics_can" value="/can_frame"/>


    <remap from="$(arg zed_name)/rgb/image_rect_color" to="$(arg zed_name)/image_raw"/>
    <!-- TODO: Put the remap into server node -->
    <!-- TODO: Stream directly from zed -->
    <!-- TODO:for lite, launch zed as usb_cam. maybe another launch file instead of an if block -->



    <include file="$(dirname)/include/zed_no_tf.launch">
        <arg name="node_name"           value="$(arg zed_name)"/>
        <arg name="publish_urdf"        value="false" />
        <arg name="param_file"           value="$(arg zed_param)"/>
        <arg name="svo_file"           value="$(arg svo_file)"/>

        <!-- <arg if="$(arg stream)" name="stream"     value="$(env ROS_IP):8000"/> -->

        <!-- <remap from="/zed/rgb/image_rect_color" to="zed/image_raw"/> -->

    </include>

    <include file="$(find roscco)/launch/myride_oscc.launch"/>



    <include if="$(arg record)" file="$(dirname)/include/record_data.launch">
            <arg name="file" value="driving_data"/>
            <arg name="topics" value ="$(arg topics_full)"/>
    </include>

</launch>
