<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="record"             default="false"/>
    <arg name="zed_name"           default="zed"/>
    <arg name="zed_param"           default="720p"/>
    <arg name="svo_file"           default=""/>

  <remap from="$(arg zed_name)/rgb/image_rect_color" to="$(arg zed_name)/image_raw"/>

    <include file="$(dirname)/include/zed_no_tf.launch">
        <arg name="node_name"           value="$(arg zed_name)"/>
        <arg name="param_file"           value="$(arg zed_param)"/>
        <arg name="svo_file"           value="$(arg svo_file)"/>
        <arg name="publish_urdf"        value="false" />
        <!-- <arg if="$(arg stream)" name="stream"     value="$(env ROS_IP):8000"/> -->
        <!-- <remap from="/zed/rgb/image_rect_color" to="zed/image_raw"/> -->


        <!-- <arg if="$(arg stream)" name="stream"     value="$(env ROS_IP):8000"/> -->

        <!-- <remap from="/zed/rgb/image_rect_color" to="zed/image_raw"/> -->

    </include>
</launch>
